@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<button id="startButton">Start</button>
User: <input type="text" id="userInput"/>

<div id="container" class="container hidden">
    <br />
    Message: <input type="text" id="messageInput"/>
    <input type="button" id="sendButton" value="Send Message" />

    <div id="messageList"></div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
